body{
    background-color: #ff7d59;
}

main{
    disparity: flex;
    padding-top: 80px;
}

.header{
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.links{
    display: inline;
    margin-left: 480px;
}

.botoes{
    display: inline;
    margin-left: 480px;
}

.links a{
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 3px;
}

.links a:hover{
    color: #d44637;
    border-top: 2px solid #c71c0a;
    border-bottom: 2px solid #c71c0a;
}

.link-a-1{
    background-color: #bb09ac;
    border: #e605d3 solid 2px;
    color: white;
    font-weight: bold;
    padding: 10px;
}

.link-a-2{
    background-color: transparent;
    border: #e605d3 solid 2px;
    font-weight: bold;
    padding: 5px;
}


.span-1, .span-2{
    font-weight: bold;
    font-size: x-large;
}

.span-1 {
    color: #c71c0a;
}

.span-2 {
    color: #d44637;
}

footer{
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 50px 0 0 0;
    padding: 40px;
}

.texto{
    text-align: justify;
    columns: 3;
    font-weight: bold;
    margin:10px;
}

.secao-1 h1{
    font-weight: bold;
}

.secao-1 h2{
    font-weight: lighter;
    color: #e605a3;
    margin-top: 10px;
}

h2{
    margin-top: 20px;
}

.secao-2 h2{
    font-weight: lighter;
    color: #e605d3;
    margin-top: 10px;
}

.linha-divisoria{
    width: 0.5%;
    background-color:#cf3221;
    height: 100vh;
    margin-top: 25px;
    margin-right: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.secao-1{
    width: 66%;
    margin-left: 0;
    padding: 15px;
    height: 100vh;
}

.secao-2{
    width: 40%;
    margin-left: 0;
    padding: 15px;
    height: 100vh;
}

.mySlides{
    width: 300px;
    border-radius:20px;
    margin: 0 auto;

}

.img2{
    width: 100%;
    border-radius: 20px;
}

h3{
    text-align: center;
    font-size: 50px;
}

.campobox{
    width:33%;
}

.tabela{
    padding:20px;
}

.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin: auto;
}
